body{
	background-color: blanchedalmond;
	font-family: 'Lato',sans-serif;
	text-align: center;
}
p.p1{
	color: blue;
	font-size: 20px;
	font-weight: 200;
	font-style: normal;
}
p.p2{
	color: red;
	font-size: 40px;
	font-weight: 400;
	font-style: italic;
}
p.p3{
	color: grey;
	font-size: 60px;
	font-weight: 600;
}
p.p4{
	color: green;
	font-size: 80px;
	font-weight: 800;
}
p.p5{
	color: yellow;
	font-size: 100px;
	font-weight: 1000;
}
img.mobil{
	width: 500px;
	height: 300px;
}
img.background{
	background-color: pink;
}